
* {
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;

}



.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #64718b;
    padding: 0px 100px 0px 100px; 
    align-items: center
}

.logo{
    color: #e5e7eb;

}

.button-navbar{
    padding: 5px 20px;
}

body {
    font-family: system-ui;
}

.container {
    padding: 40px;
}

.container-buttons {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.button {
    border-radius: 5px;
    padding: 8px;
    width: 75px;
}
.title {
    padding: 20px;
}

/* .alternatives {
    
} */


.paragraph {
    background-color: #e5e7eb;
    padding: 10px;
    margin-bottom: 10px;
}


.paragraph:hover {
     background-color: yellow;
}

.input-radio {

    margin-right: 10px;
    
}

.footer {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.footer-conteudo {
    margin-bottom: 60px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    text-align: left;
    list-style-type: none;
}

.list-social-media {
    text-align: left;
    list-style-type: none;
    display: flex;
    gap: 5px;
    justify-content: center;
}
